<div class="container">
  <img [src]="space?.image" [alt]="space?.name" class="space-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{space?.name | uppercase}} </h2>
    </div>
  </div>

  <hr>

  <div class="row" style="margin-bottom:10px">
    <div class="col-md-2">
      <h3 style="margin:0">Devices</h3>
    </div>

    <div class="col-md-7">
      <div class="btn-group btn-group-sm" style="margin-right:20px">
        <button class="btn btn-default" [class.active]="sortBy==='label'" (click)="sortBy='label'">By label</button>
        <button class="btn btn-default" [class.active]="sortBy==='popularity'" (click)="sortBy='popularity'">By frequency of use</button>
      </div>

      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterBy='all'">All devices</button>
        <button class="btn btn-default" [class.active]="filterBy==='switch'" (click)="filterBy='switch'">Switch</button>
        <button class="btn btn-default" [class.active]="filterBy==='sensor'" (click)="filterBy='sensor'">Sensor</button>
        <button class="btn btn-default" [class.active]="filterBy==='alarm'" (click)="filterBy='alarm'">Alarm</button>
      </div>
    </div>

    <div class="col-md-2">
      <a (click)="addDevice()">Add Device</a>
    </div>
  </div>

  <device-list [sortBy]="sortBy" [filterBy]="filterBy" *ngIf="!addMode" [devices]="space?.devices"></device-list>
  <add-device *ngIf="addMode" (saveNewDevice)="saveNewDevice($event)" (cancelAddDevice)="cancelAddDevice()"></add-device>

</div>