<h1>New Space</h1>
<hr>
<div class="col-md-6">
  <form #newSpaceForm="ngForm" (ngSubmit)="saveSpace(newSpaceForm.value)" autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{'error': newSpaceForm.controls.name?.invalid && newSpaceForm.controls.name?.touched}">
      <label for="spaceName">Space Name:</label>
      <em *ngIf="newSpaceForm.controls.name?.invalid && (newSpaceForm.controls.name?.touched)">Required</em>
      <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Name of a space..."
      />
    </div>

    <div class="form-group" [ngClass]="{'error': newSpaceForm.controls.image?.invalid && newSpaceForm.controls.image?.touched}">
      <label for="imageUrl">Image:</label>
      <em *ngIf="newSpaceForm.controls.image?.invalid && newSpaceForm.controls.image?.touched && newSpaceForm.controls.image?.errors.required">Required</em>
      <em *ngIf="newSpaceForm.controls.image?.invalid && newSpaceForm.controls.image?.touched  && newSpaceForm.controls.image?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="image" name="image" id="image" type="text" class="form-control" placeholder="url of image..." />
      <img [src]="newSpaceForm.controls.image.value" *ngIf="newSpaceForm.controls.image?.valid" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newSpaceForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>