<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Easy SmartHouse</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/spaces']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Spaces</a>
          </li>
          <li><a [routerLink]="['/spaces/new']" routerLinkActive="active">Create Space</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Spaces
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Add Space</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/user/login']">Login</a>
              <a *ngIf="auth.isAuthenticated()"  [routerLink]="['/user/profile']">Welcome, {{auth.currentUser.firstName}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm" (ngSubmit)="searchDevices(searchTerm)" class="navbar-form navbar-right"  >
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search devices" >
          </div>
          <button class="btn btn-default" modal-trigger="searchDevicesResult">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <simple-modal elementId="searchDevicesResult" title="Matching devices">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let device of foundDevices" [routerLink]="['/spaces', device.spaceId]">{{device.label}}</a>
    </div>
  </simple-modal>